<form id="addEditDeleteForm" class="" method="<%= formMethod %>">
	<div class="row">
		<div class="col-md-6 col-sm-12 mb-4 has-error-wrapper">
			<div class="input-group">
				<label for="name" class="input-group-text w-50">ID</label>
			</div>
		</div>
		<div class="col-md-6 col-sm-12 mb-4 has-error-wrapper">
			<div class="input-group">
				<label for="name" class="input-group-text w-50">User Name</label>
				<input type="text" id="name" class="form-control" name="name" <%=userData.name?`value=${userData.name}` : ``%> <%= [1,2,3].includes(loginUser.position_id) ? `disabled`:`` %> />
			</div>
		</div>
	</div>
	<div class="row">
		<div class="col-md-6 col-sm-12 mb-4 has-error-wrapper">
			<div class="input-group">
				<label class="input-group-text w-50" for="email">Email:</label>
				<input type="email" id="email" class="form-control" name="email" <%=userData.email?`value=${userData.email}` : ``%> <%= [1,2,3].includes(loginUser.position_id) ? `disabled`:`` %> />
			</div>
		</div>
		<div class="col-md-6 col-sm-12 mb-4 has-error-wrapper">
			<div class="input-group">
				<label class="input-group-text w-50" for="selectDivision">Division: </label>
				<select name="division_id" class="form-select" id="selectDivision" <%= [1,2,3].includes(loginUser.position_id) ? `disabled`:`` %>>
					<!-- <option v-for="(item, index) in divisionsList" :key="index" :value="item.id">{{item.name}}</option> -->
				</select>
			</div>
		</div>
	</div>
	<div class="row">
		<div class="col-md-6 col-sm-12 mb-4 has-error-wrapper">
			<div class="input-group">
				<label for="entered_date" class="input-group-text w-50">Entered Date</label>
				<input type="text" id="entered_date" class="form-control" name="entered_date" <%=userData.entered_date?`value=${userData.entered_date}` : ``%>
					<%= [1,2,3].includes(loginUser.position_id) ? `disabled`:`` %> />
			</div>
		</div>
		<div class="col-md-6 col-sm-12 mb-4 has-error-wrapper">
			<div class="input-group">
				<label class="input-group-text w-50" for="selectPosition">Position: </label>
				<select name="position_id" class="form-select" id="selectPosition" <%= [1,2,3].includes(loginUser.position_id) ? `disabled`:`` %>>
					<!-- <option v-for="(item, index) in posList" :key="index" :value="item.id">{{item.name}}</option> -->
				</select>
			</div>
		</div>
	</div>
	<div class="row">
		<div class="col-md-6 col-sm-12 mb-4 has-error-wrapper">
			<div class="input-group">
				<label class="input-group-text w-50" for="password">Password:</label>
				<input type="password" id="password" class="form-control" name="password">
			</div>
		</div>
		<div class="col-md-6 col-sm-12 mb-4 has-error-wrapper has-error-wrapper">
			<div class="input-group">
				<label class="input-group-text w-50" for="retype">Password Confirmation:</label>
				<input type="password" id="retype" class="form-control" name="retype">
			</div>
		</div>
	</div>

	<!-- events buttons -->
	<button type="submit" class="btn btn-outline-success me-2 mb-4" id="registerBtn">Register</button>
	<button type="button" class="btn btn-outline-primary me-2 mb-4" id="updateBtn">Update</button>
	<button type="button" class="btn btn-outline-danger me-2 mb-4" id="deleteBtn">Delete</button>
	<button type="button" class="btn btn-outline-secondary me-2 mb-4" id="cancelBtn">Cancel</button>
</form>