<!-- Header -->
<header>
	<nav id="main-navbar" class="navbar navbar-expand-lg navbar-light bg-white fixed-top">
		<!-- Container wrapper -->
		<div class="container-fluid">
			<!-- Toggle button -->
			<button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#sidebarMenu" aria-controls="sidebarMenu" aria-expanded="false" aria-label="Toggle navigation">
				<i class="fas fa-bars"></i>
			</button>

			<!-- Brand -->
			<a class="navbar-brand" href="/">
				<img src="/asset/images/bris.png" height="35" alt="" loading="lazy" />
                <small>Briswell VN</small>
			</a>
			<!-- Right links -->
			<ul class="navbar-nav ms-auto d-flex flex-row">
				<!-- Avatar -->
				<% if(loginUser.name){ %>
				<li class="nav-item dropdown">
					<a class="nav-link dropdown-toggle hidden-arrow d-flex align-items-center" href="#" id="navbarDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false">
						<span><%= loginUser.name %></span>
						<div class="vr mx-2"></div>
						<span id="user-role" data-user-position="<%= loginUser.position_id %>">Position: <%= loginUser.position_id %> </span>
						<span id="user-id" data-user-id="<%= loginUser.id %>"></span>
					</a>
				</li>
				<a class="nav-link d-flex align-items-center" href="/logout?redirect=<%= logoutRedirect %> ">
					<span>Logout</span>
				</a>
				<% } else {%>
				<a class="nav-link d-flex align-items-center" href="/login" id="loginLink">
					<span>Login</span>
				</a>
				<% } %>

			</ul>
		</div>
		<!-- Container wrapper -->
	</nav>
</header>